<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss} %C{1}.%M(%L)] %m%n"/>
        </layout>
    </appender>

<!-- 
	<appender name="ROLLING" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/anti.log" />
		<param name="MaxBackupIndex" value="10"/>
		<param name="MaxFileSize" value="5MB"/>
		<param name="Encoding" value="GB18030" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss} %C{1}.%M(%L)] %m%n"/>
        </layout>
	</appender>
 --> 	

    <root>
        <level value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    
</log4j:configuration>